* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(49, 49, 49);
}

#btn-mobile{
  display: none;
}
.img-logo {
  width: 75px;
  margin-left: 20px;
}
.img-logo img {
  width: 100%;
}
ul {
  display: flex;
}
li a {
  margin-right: 20px;
  padding: 10px;
  color: white;
}
a:hover {
  color: #00ffff;
  cursor: pointer;
}

/*-------------------------main------------------------- */
.container {
  display: flex;
  width: 100%;
}
.container-img {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.container-img img {
  width: 100%;
  margin-top: 50px;
}
.container-img p {
  margin: 10px;
}
.container-txt {
  margin: 50px;
}

.container-txt h1 {
  font-size: 2rem;
}
.container-txt p {
  margin-top: 50px;
  line-height: 1.4;
  text-indent: 2rem;
}

/*-------------------------footer------------------------- */
footer {
  height: 50px;
  background-color: rgb(49, 49, 49);
  color: white;
  text-align: center;
}
footer span {
  display: inline-block;
  margin-top: 1%;
}

@media (min-width: 580px) and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

}

/*-------------------------menu-hamburguer------------------------- */

@media (max-width:700px) {
  #btn-mobile{
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;  
    color: white;     
}  
   
#menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 3.5rem;
    right: 0;
    height: 0;
    transition: .6s;
    z-index: 1000;
    background-color: rgb(49, 49, 49);
    visibility: visible;
    overflow-y: hidden;
    border-radius: 25px;  
}

#nav.active #menu {
    height: 50%;
    visibility: visible;
    overflow-y: auto;
} 

    
#menu a{
    padding: 0; 
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

#hamburguer{

    border-top: 2px solid;
    color: white;
    display: block;
    margin-top: .5rem;
}   

#hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}  

#nav.active #hamburguer{
    border-top-color: transparent;
}

#nav.active #hamburguer::before{
     transform: rotate(135deg);
}
  
#nav.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;        
}
}

